<div>
    <h2 id="page-heading">
        <span>Process Requests/Claims</span>
        <!-- <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-alumni-req-or-claim"
            [routerLink]="['/alumni-req-or-claim/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
                Request/Claim
            </span>
        </button> -->
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br />
    <div class="alert alert-warning" *ngIf="alumniReqOrClaims?.length === 0">
        <span>No alumni Requests/Claims found</span>
    </div>
    <div class="table-responsive" *ngIf="alumniReqOrClaims?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th scope="col" jhiSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th> -->
                    <!-- <th scope="col" jhiSortBy="requestFor"><span>Request For</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th> -->
                    <th scope="col" jhiSortBy="subjectName"><span>Subject</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="reason"><span>Reason</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="status"><span>Status</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="requestedDate"><span>Requested Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="requestByFirstName"><span>Request By</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <!-- <th scope="col" jhiSortBy="assigneeFirstName"><span>Assignee</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th> -->

                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumniReqOrClaim of alumniReqOrClaims ;trackBy: trackId">
                    <!-- <td><a [routerLink]="['/alumni-req-or-claim', alumniReqOrClaim.id, 'view' ]">{{alumniReqOrClaim.id}}</a></td> -->
                    <!-- <td>{{alumniReqOrClaim.requestFor}}</td> -->
                    <td>
                        <div *ngIf="alumniReqOrClaim.subjectId">
                            <a [routerLink]="['/req-or-claim-subject', alumniReqOrClaim.subjectId , 'view' ]">{{alumniReqOrClaim.subjectName}}</a>
                        </div>
                    </td>
                    <td>{{alumniReqOrClaim.reason}}</td>
                    <td>{{alumniReqOrClaim.status}}</td>
                    <td>{{alumniReqOrClaim.requestedDate | date:'medium'}}</td>
                    <td>
                        {{alumniReqOrClaim.requestByFirstName}}
                    </td>
                    <!-- <td>
                        {{alumniReqOrClaim.assigneeFirstName}}
                    </td> -->

                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/alumni-req-or-claim', alumniReqOrClaim.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/alumni-req-or-claim/process', alumniReqOrClaim.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Update</span>
                            </button>
                            <!-- <button type="submit" [routerLink]="['/alumni-req-or-claim', { outlets: { popup: alumniReqOrClaim.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="alumniReqOrClaims?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>