<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pds-schedule-heading">Create or edit a Pds Schedule</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_duration">Duration</label>
                    <input type="text" class="form-control" name="duration" id="field_duration"
                           formControlName="duration" placeholder="HH:MM"/>
                    <div *ngIf="editForm.get('duration').invalid && (editForm.get('duration').dirty || editForm.get('duration').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duration').errors.required">
                        This field is required.
                        </small>
                       
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('date').invalid && (editForm.get('date').dirty || editForm.get('date').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_time">Time</label>
                    <div class="d-flex">
                        <input id="field_time" type="text" class="form-control" name="time" formControlName="time" placeholder="HH:mm AM/PM"/>
                    </div>
                    <div *ngIf="editForm.get('time').invalid && (editForm.get('time').dirty || editForm.get('time').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('time').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('time').errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_venue">Venue</label>
                    <input type="text" class="form-control" name="venue" id="field_venue"
                           formControlName="venue"/>
                    <div *ngIf="editForm.get('venue').invalid && (editForm.get('venue').dirty || editForm.get('venue').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('venue').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                </div>

                <div class="form-group">
                    <label for="field_users">User</label>
                    <select class="form-control" id="field_users" multiple name="users" formControlName="users">
                        <option [ngValue]="getSelected(editForm.get('users').value, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.firstName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_profDevService">Prof Dev Service</label>
                    <select class="form-control" id="field_profDevService" name="profDevService" formControlName="profDevServiceId">
                        <option *ngIf="!editForm.get('profDevServiceId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="profDevServiceOption.id" *ngFor="let profDevServiceOption of profdevservices; trackBy: trackProfDevServiceById">{{profDevServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('profDevServiceId').invalid && (editForm.get('profDevServiceId').dirty || editForm.get('profDevServiceId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('profDevServiceId').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
