<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fundraiser-heading">Create or edit a Fundraiser</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_targetAmount">Target Amount</label>
                    <input type="number" class="form-control" name="targetAmount" id="field_targetAmount"
                           formControlName="targetAmount"/>
                    <div *ngIf="editForm.get('targetAmount').invalid && (editForm.get('targetAmount').dirty || editForm.get('targetAmount').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('targetAmount').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('targetAmount')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_collectedAmount">Collected Amount</label>
                    <input type="number" class="form-control" name="collectedAmount" id="field_collectedAmount"
                           formControlName="collectedAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastDateToContribute">Last Date To Contribute</label>
                    <div class="input-group">
                        <input id="field_lastDateToContribute" type="text" class="form-control" name="lastDateToContribute" ngbDatepicker  #lastDateToContributeDp="ngbDatepicker" formControlName="lastDateToContribute"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastDateToContributeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="ACHIEVED">ACHIEVED</option>
                        <option value="YET_TO_ACHIEVE">YET_TO_ACHIEVE</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
