<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-alumni-heading">Create or edit a Alumni</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_usn">Usn</label>
                    <input type="text" class="form-control" name="usn" id="field_usn"
                           formControlName="usn"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mobile">Mobile</label>
                    <input type="text" class="form-control" name="mobile" id="field_mobile"
                           formControlName="mobile"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_degree">Degree</label>
                    <input type="text" class="form-control" name="degree" id="field_degree"
                           formControlName="degree"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_specialization">Specialization</label>
                    <input type="text" class="form-control" name="specialization" id="field_specialization"
                           formControlName="specialization"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_jobPosition">Job Position</label>
                    <input type="text" class="form-control" name="jobPosition" id="field_jobPosition"
                           formControlName="jobPosition"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                           formControlName="company"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yearOfGraduation">Year Of Graduation</label>
                    <input type="text" class="form-control" name="yearOfGraduation" id="field_yearOfGraduation"
                           formControlName="yearOfGraduation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_experience">Experience</label>
                    <input type="number" class="form-control" name="experience" id="field_experience"
                           formControlName="experience"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
