<div>
    <h2 id="page-heading">
        <span>Alumni</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-alumni" [routerLink]="['/alumni/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
                Create a new Alumni
            </span>
        </button>
    </h2>
    <div class="row">


        <div class="col-3">
            <label>Position</label>
            <select class="form-control" [(ngModel)]="position" (change)="getData()">
                <option *ngFor="let position of jobPositions" [value]="position.name" >{{position.name}}</option>
            </select>
        </div>
        <div class="col-3">
            <label>Experience</label>
            <select class="form-control" [(ngModel)]="experience" (change)="getData()">
                <option *ngFor="let experience of experiences" [value]="experience">{{experience}}</option>
            </select>
        </div>
        <div class="col-3">
            <label>Year of Graduation</label>
            <select class="form-control" [(ngModel)]="yearOfGraduation" (change)="getData()">
                <option *ngFor="let year of graduationYears" [value]="year">{{year}}</option>
            </select>
        </div>
        <div class="col-3">
                <label>Specialization</label>
                <select class="form-control" [(ngModel)]="department" (change)="getData()">
                    <option *ngFor="let dept of departments" [value]="dept.shortName">{{dept.shortName}}</option>
                </select>
            </div>
    </div>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br />
    <div class="alert alert-warning" *ngIf="alumni?.length === 0">
        <span>No alumni found</span>
    </div>
    <div class="table-responsive" *ngIf="alumni?.length > 0">
        <table class="table " aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <th scope="col" jhiSortBy="usn"><span>Usn</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="name"><span>Name</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="email"><span>Email</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="mobile"><span>Mobile</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="degree"><span>Degree</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="specialization"><span>Specialization</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="jobPosition"><span>Job Position</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="company"><span>Company</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="yearOfGraduation"><span>Year Of Graduation</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="experience"><span>Experience</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumni of alumni ;trackBy: trackId">
                    <!-- <td><a [routerLink]="['/alumni', alumni.id, 'view' ]">{{alumni.id}}</a></td> -->
                    <td>{{alumni.usn}}</td>
                    <td>{{alumni.name}}</td>
                    <td>{{alumni.email}}</td>
                    <td>{{alumni.mobile}}</td>
                    <td>{{alumni.degree}}</td>
                    <td>{{alumni.specialization}}</td>
                    <td>{{alumni.jobPosition}}</td>
                    <td>{{alumni.company}}</td>
                    <td>{{alumni.yearOfGraduation}}</td>
                    <td>{{alumni.experience}}</td>
                    <td class="text-right">
                        <div class="btn-group" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                            <button type="submit" [routerLink]="['/alumni', alumni.id, 'view' ]" class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/alumni', alumni.id, 'edit']" class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit" [routerLink]="['/alumni', { outlets: { popup: alumni.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="alumni?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>