<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pds-course-heading">Create or edit a Pds Course</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_courseName">Course Name</label>
                    <input type="text" class="form-control" name="courseName" id="field_courseName"
                           formControlName="courseName"/>
                    <div *ngIf="editForm.get('courseName').invalid && (editForm.get('courseName').dirty || editForm.get('courseName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('courseName').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_profDevService">Prof Dev Service</label>
                    <select class="form-control" id="field_profDevService" name="profDevService" formControlName="profDevServiceId">
                        <option *ngIf="!editForm.get('profDevServiceId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="profDevServiceOption.id" *ngFor="let profDevServiceOption of profdevservices; trackBy: trackProfDevServiceById">{{profDevServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('profDevServiceId').invalid && (editForm.get('profDevServiceId').dirty || editForm.get('profDevServiceId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('profDevServiceId').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
